<!DOCTYPE html>
<html lang="en">

<head>
    {{> header}}
</head>

<body>
    <nav>
        {{> navbar}}
    </nav>

    <section id="about">
        <h1 class="h-primary center about1">About Us</h1>
    </section>
    <section>
        <h1 class="center">
            Company’s Mission & Vision
        </h1>
        <p class="box">
            About Us – Dance is one of the most expressive crafts known to mankind. People of all ages and preferences
            admire dance and, people in India are no different. In our country, there is a song and dance for virtually
            every season and reason. Despite so much love towards this art, people are averse to the idea of taking up
            dancing as a profession.

            It is a common perception among people that dancing is not a respectable way of earning a living.
            Fortunately, things have changed a lot since Zenith Dance Academy opened its doors 20 years ago. With every
            step we take, with every move we make; we bring our students closer to dance and help to build their passion
            into a profession. Or simply, teach what they love doing the most, i.e., DANCE!!!


        </p>
        <h1 class="center">
            The objective of the Dance Academy
        </h1>
        <p class="box">

            The main objective of the school is to nurture versatile dancers in a caring, dedicated and safe
            environment. Students are prepared for examinations in all disciplines taught at the school. Foreign
            examiners conduct annual examinations in all disciplines.

            The Dance Academy's firm belief that 'Dancing is fun' and 'healthy' is greatly witnessed by the variety of
            disciplines taught in the school for all ages. The 'fun' component is instrumental in nurturing in the
            students a passion for dance. The professional staff play a vital role in fostering the 'fun' element in
            their instruction. This cultivates in the student an appreciation of dance, in its many forms, and its
            performance. It also encourages the student to develop poise and self confidence as well as developing an
            awareness of fitness, - the 'healthy' aspect of dance.

            To further the students' development, foreign guest artists are invited annually to conduct workshops and
            courses in all disciplines.
        </p>

    </section>



    {{> footer}}
</body>

</html>