<!DOCTYPE html>
<html lang="en">

<head>
    {{> header}}
</head>

<body>
    <nav>
        {{> navbar}}
    </nav>

    <section id="class">
        <h1 class="h-primary center class1"> Class Info</h1>
    </section>
    
   



    {{> footer}}
</body>

</html>