<!DOCTYPE html>
<html lang="en">

<head>
    {{> header}}
</head>

<body>
    <nav>
        {{> navbar}}
    </nav>
    <Section id="home">
        <div>Welcome to <span>Shubham Dance Academy</span> </div>
        <div>Eat sleep dance repeat</div>
    </Section>
    <section id="services-container">
        <h1 class="h-primary center">Our Services </h1>
        <div id="services">
            <div class="box">
                <h3 class="h-secondary center">Dance Perfectionm</h3>
                <img src="images/logo1.png" alt="img loading..">
                <p>This is the best dance academy of the Universe</p>
            </div>
            <div class="box">
                <h3 class="h-secondary center">Dance the way you like</h3>
                <img src="images/logo2.png" alt="img loading..">
                <p>This is the best dance academy of the Universe</p>
            </div>
            <div class="box">
                <h3 class="h-secondary center">Expert Teaching</h3>
                <img src="images/logo3.png" alt="img loading..">
                <p>This is the best dance academy of the Universe</p>
            </div>
        </div>
    </section>
    <section id="client-section">
        <h1 class="h-primary center">Our Client</h1>
        <div id="clients">
            <div class="client-item">
                <img src="images/client1.png" alt="img loading..">
            </div>
            <div class="client-item">
                <img src="images/client2.png" alt="img loading..">
            </div>
            <div class="client-item">
                <img src="images/client3.png" alt="img loading..">
            </div>
            <div class="client-item">
                <img src="images/client4.jpg" alt="img loading..">
            </div>
        </div>
    </section>
    {{> footer}}
</body>

</html>