<!DOCTYPE html>
<html lang="en">

<head>
    {{> header}}
</head>

<body>
    <nav>
        {{> navbar}}
    </nav>
    <section id="services-container">
        <h1 class="h-primary center">Our Services </h1>
        <div id="services">
            <div class="box">
                <h3 class="h-secondary center">Dance Perfectionm</h3>
                <img src="images/logo1.png" alt="img loading..">
                <p>This is the best dance academy of the Universe</p>
            </div>
            <div class="box">
                <h3 class="h-secondary center">Dance the way you like</h3>
                <img src="images/logo2.png" alt="img loading..">
                <p>This is the best dance academy of the Universe</p>
            </div>
            <div class="box">
                <h3 class="h-secondary center">Expert Teaching</h3>
                <img src="images/logo3.png" alt="img loading..">
                <p>This is the best dance academy of the Universe</p>
            </div>
        </div>
    </section>
    {{> footer}}
</body>

</html>